params {
    // Use nf-schema to validate parameters and file formats

    profile = 'standard'

    // Profile definition file
    pipeline_profiles = "$projectDir/config/profiles.yml"

    // Path to data to analyse
    data = "$projectDir/data/*.ext"

}
// Nested syntax doesn't work for this
params."withName:'QC_TOOL'" = 'raw'
params."withName:'QUALITY_CONTROL:QC_TOOL'" = { "qc ${ext.baseName}" }
params."withName:'QUALITY_CONTROL:FILTER_TOOL'" = 'filter' 

process {
    withName: 'FILTER_TOOL' {
        ext.args = { args } // Use variable from input: block in a closure
    }
}