params {
    // Use nf-schema to validate parameters and file formats

    profile = 'standard'

    // Profile definition file
    pipeline_profiles = "$projectDir/config/profiles.yml"

    // Path to data to analyse
    data = "$projectDir/data/*.ext"
}

process {
    withName: 'FILTER_TOOL' {
        ext.args = { args } // Use variable from input: block in a closure
    }
}